<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  
    <title>Bet</title>
    <style>
        li{
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            border: 2px;
            font-size: 20px;
            font-weight: bold;
            padding-bottom: 5px;
        }
        .second{
         font-size: 21px;
         margin-top: 0px;
         padding-top: -10px;
        }
        button{
          color: white;
        }
        .custom-accordion-icon {
  fill: white !important;
}
body{
  background-color:#212529;
}
       
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <ul style="display: flex;">
          <li><a class="navbar-brand" class="--bs-warning" href="/sport/sport">Sport </a></li>
          <li><a class="navbar-brand" href="">In play </a></li>
          <li> <a class="navbar-brand" href="/virtual/virtual">Locations </a></li>
          <li> <a class="navbar-brand" href="/bookmark/bookmark">Bookmark </a></li>
         <li>
            <ion-icon name="wallet" style="color: antiquewhite;"></ion-icon>
            <a class="navbar-brand" href="#">Wallet of  <%= userData.username %> </a> 
        </li>
        </ul>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Settings</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/bets/bets">My bets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/finance/finance">Finance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transaction/transaction">Transactions</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Details
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="/results/results">Results</a></li>
                    <li><a class="dropdown-item" href="/live/live">Live score</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/statistics/statistics">Statistics</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/reset/reset">Change password</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard/logout">Log out</a>
                  </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
     <div class="container-fluid  bg-dark " style="color: rgb(255, 255, 255); " >
        <ul class="bg-dark" style="display: inline-block; margin-top: 80px; list-style: none; ">
            <li>
                
                <a href="" class="nav-link">Today</a>
            </li>
            <li>
                <a href="" class="nav-link">Tomorrow</a>
            </li>
            <li>
                <a href="" class="nav-link">All</a>
            </li>
            <li>
                <a href="" class="nav-link">1 Hour</a>
            </li>
            <li>
                <a href="" class="nav-link">2 Hours</a>
            </li>
            <li>
                <a href="" class="nav-link">4 Hours</a>
            </li>
            <li>
                <a href="" class="nav-link">8 Hours</a>
            </li>
            <li>
                <a href="" class="nav-link">12 Hours</a>
            </li>
        </ul>

     </div>
     <div class="container-fluid  bg-dark " style="color: rgb(255, 255, 255); " >
        <ul class="bg-dark second" style="display: inline-block; margin-top: 10px; list-style: none; ">
            <li>
                <ion-icon name="football-outline"></ion-icon>
                <a href="/football/football" class="nav-link">Futboll</a>
            </li>
            <li>
                <ion-icon name="basketball-outline"></ion-icon>
                <a href="" class="nav-link">Basketboll</a>
            </li>
            <li>
                <ion-icon name="tennisball-outline"></ion-icon>
                <a href="" class="nav-link">Tenis</a>
            </li>
            <li>
                <ion-icon name="american-football-outline"></ion-icon>
                <a href="" class="nav-link">Handboll</a>
            </li>
            <li>
                <ion-icon name="football-outline"></ion-icon>
                <a href="" class="nav-link">Volejboll</a>
            </li>
            <li>
                <ion-icon name="tennisball-outline"></ion-icon>
                <a href="" class="nav-link">Ice hockey</a>
            </li>
            <li>
                <ion-icon name="bowling-ball-outline"></ion-icon>
                <a href="" class="nav-link">Cricket</a>
            </li>
            <li>
                <ion-icon name="baseball-outline"></ion-icon>
                <a href="" class="nav-link">Baseball</a>
            </li>
            <li>
                <ion-icon name="football-outline"></ion-icon>
                <a href="" class="nav-link">Global Scores</a>
            </li>
        </ul>
     </div>
     <div class="accordion bg-dark" id="accordionPanelsStayOpenExample">
      <div class="accordion-item  bg-dark">
        <h2 class="accordion-header bg-dark">
          
          <button style="color: white;"  class="accordion-button bg-dark danger " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            My favourites
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " >
          <div class="accordion-body bg-dark">
          
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header bg-dark">
          <button style="color: white;" class="accordion-button collapsed bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            <ion-icon name="football-outline"></ion-icon>&nbsp; &nbsp;  Futboll
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body bg-dark" style="color: antiquewhite;">
            <div class="accordion accordion-flush" id="nestedAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#nestedCollapseOne" aria-expanded="true" aria-controls="nestedCollapseOne">
                    Soccer Soccer League (MLS)
                  </button>
                </h2>
                <div id="nestedCollapseOne" class="accordion-collapse collapse show" aria-labelledby="nestedHeadingOne" data-bs-parent="#nestedAccordion">
                  <div style="color: white;" class="accordion-body bg-dark">
                    <% if (feed && feed.Body && feed.Body.Event) { %>
                      <% feed.Body.Event.forEach(function(event) { %>
                          <h2>Event Details</h2>
                          <% console.log('Event:', event); %> 
                          <table style="color: white;">
                              <tr>
                                  <th>Fixture ID</th>
                                  <th>Last Update</th>
                                  <th>Sport ID</th>
                                  <th>Sport Name</th>
                                  <th>Location ID</th>
                                  <th>Location Name</th>
                                  <th>League ID</th>
                                  <th>League Name</th>
                                  <th>Start Date</th>
                                  <th>Status</th>
                              </tr>
                              <tr>
                                  <td><%= event.Fixture._attributes.FixtureId %></td>
                                  <td><%= event.Fixture._attributes.LastUpdate %></td>
                                  <td><%= event.Fixture.Sport._attributes.Id %></td>
                                  <td><%= event.Fixture.Sport._attributes.Name %></td>
                                  <td><%= event.Fixture.Location._attributes.Id %></td>
                                  <td><%= event.Fixture.Location._attributes.Name %></td>
                                  <td><%= event.Fixture.League._attributes.Id %></td>
                                  <td><%= event.Fixture.League._attributes.Name %></td>
                                  <td><%= event.Fixture.StartDate._text %></td>
                                  <td><%= event.Fixture.Status._text %></td>
                              </tr>
                          </table>
                          <pre>
                          
                          </pre>
                          <% if (event.Fixture && event.Fixture.Participants && event.Fixture.Participants.Participant) { %>
                              <h2>Participants</h2>
                              <ul>
                                  <% if (Array.isArray(event.Fixture.Participants.Participant)) { %>
                                      <% event.Fixture.Participants.Participant.forEach(function(participant) { %>
                                          <li><%= participant._attributes.Name %></li>
                                      <% }); %>
                                  <% } else { %>
                                      <li><%= event.Fixture.Participants.Participant._attributes.Name %></li>
                                  <% } %>
                              </ul>
                          <% } %>
                          
                  
                          <% if (event.Markets && event.Markets.Market) { %>
                              <h2>Markets</h2>
                              <ul>
                                  <% if (Array.isArray(event.Markets.Market)) { %>
                                      <% event.Markets.Market.forEach(function(market) { %>
                                          <li><%= market._attributes.Name %></li>
                                      <% }); %>
                                  <% } else { %>
                                      <li><%= event.Markets.Market._attributes.Name %></li>
                                  <% } %>
                              </ul>
                          <% } %>
                          <% if (event.Livescore && event.Livescore.Scoreboard && event.Livescore.Scoreboard._attributes && event.Livescore.Periods) { %>
                              <h2>Livescore</h2>
                              <table>
                                  <tr>
                                      <th>Status</th>
                                      <th>Current Period</th>
                                      <th>Time</th>
                                  </tr>
                                  <tr>
                                      <td><%= event.Livescore.Scoreboard._attributes.Status %></td>
                                      <td><%= event.Livescore.Scoreboard._attributes.CurrentPeriod %></td>
                                      <td><%= event.Livescore.Scoreboard._attributes.Time %></td>
                                  </tr>
                              </table>
              
                              <% if (Array.isArray(event.Livescore.Periods.Period)) { %>
                                  <% event.Livescore.Periods.Period.forEach(function(period) { %>
                                      <h3>Period Details</h3>
                                      <table>
                                          <tr>
                                              <th>Type</th>
                                              <th>Home Team Score</th>
                                              <th>Away Team Score</th>
                                              <th>Sequence Number</th>
                                          </tr>
                                          <tr>
                                              <td><%= period._attributes.Type %></td>
                                              <td><%= period._attributes.HomeTeamScore %></td>
                                              <td><%= period._attributes.AwayTeamScore %></td>
                                              <td><%= period._attributes.SequenceNumber %></td>
                                          </tr>
                                      </table>
                                  <% }); %>
                              <% } else if (event.Livescore.Periods.Period) { %>
                                  <% const period = event.Livescore.Periods.Period; %>
                                  <h3>Period Details</h3>
                                  <table>
                                      <tr>
                                          <th>Type</th>
                                          <th>Home Team Score</th>
                                          <th>Away Team Score</th>
                                          <th>Sequence Number</th>
                                      </tr>
                                      <tr>
                                          <td><%= period._attributes.Type %></td>
                                          <td><%= period._attributes.HomeTeamScore %></td>
                                          <td><%= period._attributes.AwayTeamScore %></td>
                                          <td><%= period._attributes.SequenceNumber %></td>
                                      </tr>
                                  </table>
                              <% } %>
                          <% } %>
              
                          <% if (event.Statistics && event.Statistics.Statistic) { %>
                              <h2>Statistics</h2>
                              <table>
                                  <tr>
                                      <th>Type</th>
                                      <th>Home Team</th>
                                      <th>Away Team</th>
                                  </tr>
                                  <% event.Statistics.Statistic.forEach(function(statistic) { %>
                                      <tr>
                                          <td><%= statistic._attributes.Type %></td>
                                          <td><%= statistic.Home %></td>
                                          <td><%= statistic.Away %></td>
                                      </tr>
                                  <% }); %>
                              </table>
                          <% } %>
              
                         
              
                      <% }); %>
                  <% } %>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#nestedCollapseTwo" aria-expanded="false" aria-controls="nestedCollapseTwo">
                    Primeira Liga Portugali
                  </button>
                </h2>
                <div id="nestedCollapseTwo" class="accordion-collapse collapse" aria-labelledby="nestedHeadingTwo" data-bs-parent="#nestedAccordion">
                  <div class="accordion-body bg-dark">
                    Content for Accordion Item 2
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#nestedCollapseTwo" aria-expanded="false" aria-controls="nestedCollapseTwo">
                    Hollandë Eredivisie
                  </button>
                </h2>
                <div id="nestedCollapseTwo" class="accordion-collapse collapse" aria-labelledby="nestedHeadingTwo" data-bs-parent="#nestedAccordion">
                  <div class="accordion-body bg-dark">
                    Content for Accordion Item 2
                  </div>
                </div>
                
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#nestedCollapseTwo" aria-expanded="false" aria-controls="nestedCollapseTwo">
                    Superliga e Argjentinës
                  </button>
                </h2>
                <div id="nestedCollapseTwo" class="accordion-collapse collapse" aria-labelledby="nestedHeadingTwo" data-bs-parent="#nestedAccordion">
                  <div class="accordion-body bg-dark">
                    Content for Accordion Item 2
                  </div>
                </div>
                
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#nestedCollapseTwo" aria-expanded="false" aria-controls="nestedCollapseTwo">
                    Brasileirao
                  </button>
                </h2>
                <div id="nestedCollapseTwo" class="accordion-collapse collapse" aria-labelledby="nestedHeadingTwo" data-bs-parent="#nestedAccordion">
                  <div class="accordion-body bg-dark">
                    Content for Accordion Item 2
                  </div>
                </div>
                
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#nestedCollapseTwo" aria-expanded="false" aria-controls="nestedCollapseTwo">
                    Ligue 1
                  </button>
                </h2>
                <div id="nestedCollapseTwo" class="accordion-collapse collapse" aria-labelledby="nestedHeadingTwo" data-bs-parent="#nestedAccordion">
                  <div class="accordion-body bg-dark">
                    Content for Accordion Item 2
                  </div>
                </div>
                
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#nestedCollapseTwo" aria-expanded="false" aria-controls="nestedCollapseTwo">
                    Seria A
                  </button>
                </h2>
                <div id="nestedCollapseTwo" class="accordion-collapse collapse" aria-labelledby="nestedHeadingTwo" data-bs-parent="#nestedAccordion">
                  <div class="accordion-body bg-dark">
                    Content for Accordion Item 2
                  </div>
                </div>
                
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#nestedCollapseTwo" aria-expanded="false" aria-controls="nestedCollapseTwo">
                    Bundesliga
                  </button>
                </h2>
                <div id="nestedCollapseTwo" class="accordion-collapse collapse" aria-labelledby="nestedHeadingTwo" data-bs-parent="#nestedAccordion">
                  <div class="accordion-body bg-dark">
                    Content for Accordion Item 2
                  </div>
                </div>
                
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#nestedCollapseTwo" aria-expanded="false" aria-controls="nestedCollapseTwo">
                    La Liga
                  </button>
                </h2>
                <div id="nestedCollapseTwo" class="accordion-collapse collapse" aria-labelledby="nestedHeadingTwo" data-bs-parent="#nestedAccordion">
                  <div class="accordion-body bg-dark">
                    Content for Accordion Item 2
                  </div>
                </div>
                
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#nestedCollapseTwo" aria-expanded="false" aria-controls="nestedCollapseTwo">
                    Premier League
                  </button>
                </h2>
                <div id="nestedCollapseTwo" class="accordion-collapse collapse" aria-labelledby="nestedHeadingTwo" data-bs-parent="#nestedAccordion">
                  <div class="accordion-body bg-dark">
                    Content for Accordion Item 2
                  </div>
                </div>
                
              </div>
            </div>
            
            </div>
        </div>
      </div>
    
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button style="color: white;" class="accordion-button collapsed bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            <ion-icon name="basketball-outline"></ion-icon> &nbsp; &nbsp;  Basketboll
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body bg-dark">

             </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
            <ion-icon name="tennisball-outline"></ion-icon>&nbsp; &nbsp;  Tenis
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse ">
          <div class="accordion-body bg-dark">

              </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button style="color: white;"class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true" aria-controls="panelsStayOpen-collapseFive">
            <ion-icon name="american-football-outline"></ion-icon> &nbsp; &nbsp;  Handboll
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse ">
          <div class="accordion-body bg-dark">

             </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button style="color: white;"class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true" aria-controls="panelsStayOpen-collapseSix">
            <ion-icon name="baseball-outline"></ion-icon>&nbsp; &nbsp;   Baseball
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse ">
          <div class="accordion-body bg-dark">

             </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="true" aria-controls="panelsStayOpen-collapseSeven">
            <ion-icon name="football-outline"></ion-icon> &nbsp; &nbsp;  Volejboll
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse ">
          <div class="accordion-body bg-dark">

           </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header bg-dark">
          <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="true" aria-controls="panelsStayOpen-collapseEight">
            <ion-icon name="tennisball-outline"></ion-icon> &nbsp; &nbsp;  Ice hokey
          </button>
        </h2>
        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse ">
          <div class="accordion-body bg-dark">

           </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button style="color: white;" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="true" aria-controls="panelsStayOpen-collapseNine">
            <ion-icon name="bowling-ball-outline"></ion-icon>&nbsp; &nbsp; Cricket
          </button>
        </h2>
        <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse ">
          <div class="accordion-body bg-dark">

            </div>
        </div>
      </div>
    </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>